#kerangka{
height:400px;
width:100%;


}#kerangkaprofile{
height:400px;
width:100%;

}
a{
text-decoration:none;

}
body{
margin:0px;

}
#cxcx{
height:100px;
width:148px;
margin-top:-80%;
}
#login{
height:48px;
width:148px;
background-color:orange;
text-align:center;
}
#login span{
display:none;
}
#register span{
display:none;
}
#form-login input{
margin-left:10px;
}
#register_tick_function{
height:240px;
width:40%;
background-color:green;padding:10px;
margin-top:-10%; z-index:1000000; position:absolute;
margin-top:-40%;margin-left:27%;display:none;
}
#register_tick_function input[type="text"],
#register_tick_function input[type="password"],
#register_tick_function textarea,
#register_tick_function input[type="text"],
#register_tick_function input[type="number"]{
margin-left:10%;
}
#register_tick_function input[type="reset"]{
height:100px;
width:100px;
float:right;
margin-top:-10%;

}#register_tick_function input[type="submit"]{
float:right;
height:100px;
width:100px;
margin-top:-10%;
}
#btn-cloes{
font-size:14pt;color:white;margin-left:90%;cursor:pointer;}
#register{
height:48px;
width:148px;
background-color:purple;
text-align:center;
}#form-login input[type=text]{
height:18px;
} #form-login{
height:100px;
width:180px;
background-color:black;display:none;
}
#menu{
margin-left:10.000004%;
margin-top:-3.000000004%;
}
#menu ul li{
display:inline-block;
height:10px;
background:lightgreen;
 text-align:center; padding:18px;
}#body{
background-image:url("png/m.png");
margin-top:-1%; height:1490px;
width:80%;
margin-left:10%;
}#bodyprofile{
background-image:url("png/m.png");
margin-top:-1%; height:800px;
width:80%;
margin-left:10%;
}#bodymakanan{
background-image:url("png/m.png");
margin-top:-1%; height:1490px;margin-left:10%;
width:80%;


} #black-transpare{display:none;
height:1000px;
width:100%;
background-color:black;
margin-top:-18%;
opacity:0.4;
}#value{
height:18px;
width:40px;
background-color:orange;
}#pesananmakan{
height:800px;padding:10px;
width:90%;
}#pesananmakan ul li{
height:100px;
background-color:#e1e1e1;
}#keranjangpesan{
height:480px;display:none;
width:800px;margin-top:-7%;
background-color:green;
margin-left:24%;z-index:1000000000;position:fixed;
}#title{
height:40px;
width:80%;text-align:center;
background-color:orange;padding:4px;

}#unchecked{
height:100px;
width:100px;
background-color:black;
}.aboutus,.contact{
cursor:pointer;

}#aboutus,#contact{
height:570px;margin-left:10%;margin-top:-58%;margin-left:40%;
width:570px;background-color:orange;
z-index:1000000000;display:none;
position:fixed;
}#aboutus img{
margin-left:-40%;
}#deleteAllmakanan{
height:50px;
width:100px;margin-top:-10%;
margin-left:14%;word-wrap:break-word;
}#deleteAllmakanan input[name="deleteAllmakanan"]{
height:80px;
width:100px;margin-top:4%;


}#page ul{
margin-top:100%;
}#page ul li{width:100px;
height:100px;margin-top:4%;
background-color:lightgreen;margin-left:-58%;
list-style-type:none;display:none;
}.selection{
background-image:url("png/menu.png");

}.nextpage{
background-image:url("png/page.png");

}.prevpage{
background-image:url("png/prevpage.png");
}#page{margin-bottom:10%;background-image:url("png/menupanel.png");
height:100px;
width:100px;background-color:black;
border-radius:50%;margin-left:84%;position:absolute;z-index:100000;

}.administrator{
background-attachment:fixed;
background-color:#f7f7f7;

}#login_{
margin-top:-25%;
margin-left:10%;

}#kerangkacx{
height:140px;
width:29%;margin-left:40%;margin-top:14%;

}#controllingpost form{
padding:10px;

}#controllingpost input[type="submit"]{
height:40px;
width:100px;
cursor:pointer;
}#cover{
height:590px;
width:50%;
background-color:orange;
margin-left:24%;

}#controllingpost{
height:270px;display:none;
width:270px;
margin-top:-27%;background-color:#edebe8;margin-left:28%;
}#menucontrol{

}#menucontrol ul li{
display:inline-block;
height:100px;
width:18%;
background-color:#fcb844;
padding:10px;
margin-left:4%;
}#menucontrol ul li:hover{
box-shadow:1px 1px 10px black;
cursor:pointer;

}
#loginadmin{
height:180px;
background-color:orange;

}#loginadmin form{
margin-top:29%;
margin-left:14%;

}#loginadmin form input[type="text"],
#loginadmin form input[type="password"]{
height:40px;
width:140px;
}#loginadmin form input[type="submit"],
#loginadmin form input[type="reset"]{
height:40px;
width:110px;cursor:pointer;
}#maps{
height:180px;
width:140.4%;margin-left:-40%;margin-top:-19%;position:absolute;
background-color:black;
}#checkout{
height:100px;
width:98%;
background-color:orange;padding:10px;
}#checkout input[type='submit']{
height:80px;
width:100px;
cursor:pointer;
}
#icon{
margin-top:-1%;margin-left:10%;
}#icon img[src="png/icon.png"] {
height:40px;
width:40px;cursor:pointer;
margin-left:18%;
}#kerangkakeranjang img[src="png/makanankosong.png"]{
height:400px;
width:400px;

}#makanan_Cx{
height:10px;
width:100%;margin-top:4%;
}#keranjangmakanan{
height:80%;
width:100%;
background-color:purple;
overflow:scroll;

}#kerangkakeranjang{
height:100%;
width:100%;
}#validasicx{
height:180px;
width:40%;margin-left:74%;margin-top:-19.8%;
}#biodata img{
height:18px;margin-top:-10%;

}#loading{
margin-top:-48%;
margin-left:40%;
display:none;z-index:100000000;
}#biodata img[src='png/check_.png'],
#biodata img[src='png/cancx.png'],
#biodata img[src='png/three-quarters-loader.gif']
{
display:none;
}#loading img{
height:480px;
width:480px;

}
#edit img{
height:100px;cursor:pointer;
width:180px;margin-top:10%;margin-left:27%;

}#validasicx ul li img{
height:100px;
}
#validasicx ul li{
display:inline-block;cursor:pointer;margin-left:4%;
}
#keranjang{
height:100px;
width:100px;
background-color:black;
margin-left:90%;margin-top:-10%;
}
#keranjang img{
height:100px;
width:100px;
}
#paket-makanan,
#searchmakananlist{
margin-top:4%;
margin-left:7%;
}#searchmakananlist img{

height:190px;
width:190px;
}#paketminuman{
margin-top:18%;
margin-left:7%;

}#biodata{
height:400px;
width:480px;
background-color:orange;
margin-left:48%;margin-top:-31%;padding:10px;
}#handler{
margin-top:18%;margin-left:14%;
}#page-label{
height:40px;margin-top:-1%;padding:10px;z-index:10000000;
width:100px;
background-color:orange;
}#pesanan{
height:100px;
width:480px;
background-color:green; margin-top:-48%;z-index:100000000000;position:absolute;
margin-left:40%;display:none;padding:8px;

}#photo{
height:400px;
width:480px;
background-color:green; margin-left:1%;margin-top:1%;
}#listprofile{
height:480px;
width:100%;
}#navigasimenu{
margin-top:0%;
margin-left:10%;
}#navigasimenu ul li img{
height:100px;
width:180px;
cursor:pointer;
}#navigasimenu ul li{
list-style-type:none;
display:inline-block;
height:180px;
width:180px; padding:8px;

}#delete{
height:80px;
width:140px;
background-color:black;margin-left:48%;
}#checkbalance{
height:100px;
width:184px;z-index:100000000000;position:absolute;display:none;
background-color:#b2e59e;margin-left:0%;margin-top:-4.8%;
}#checkbalance form{
padding:10px;

}#historybalance{
height:100%;
width:100%;
overflow:scroll;

}#delete input[type="submit"]{
height:100px;
width:140px;

}#panelcontrol{display:none;
height:270px;margin-left:48%;z-index:10000;
width:270px;overflow:scroll;margin-top:-17%;
position:absolute;
}#paketminuman,
#searchmakananlist{
margin-top:4.1%;
}#paketminuman img,
#searcmakananlist img{
height:190px;
width:190px;
}#check{
height:40px;margin-top:-4%;
width:180px;
background-color:orange;
word-wrap:break-word;padding:10px;display:none;
}
#paket-makanan ul li,
#paketminuman ul li,
#searchmakananlist ul li{
display:inline-block;
margin-right:1%;
margin-bottom:1%;
}
#paket-makanan ul li:hover,
#paketminuman ul li:hover,
#searchmakananlist ul li:hover{
box-shadow:1px 4px 7px 7px black;
transition:box-shadow 0.5s; cursor:pointer;

}